// Place all the styles related to the concerts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.artist-name{
  text-decoration: none;
  font-size: 1.7rem;
  color: rgba(230, 0, 0, 1);
  font-family: monospace;
  list-style: none;
}