// Place all the styles related to the concerts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$main-color:rgb(230, 0, 0);
.main-header{
  width: 100%;
  text-align: center;
  background-color: $main-color;
}
.main-header__title{
  line-height: 1.9rem;
}
.main-header__paragraph{
  line-height: 1.4rem;
}
.artist-name{
  text-decoration: none;
  font-size: 1.7rem;
  color: $main-color;
  font-family: monospace;
  list-style: none;
}