<!DOCTYPE html>
<html>
<head>
  <title>ConcertNetwork</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h1>Concertopolis</h1>
    <p>The concerts network</p>
  </header>

<%= yield %>

  <footer>
    <p>weberjavi dixit</p>
  </footer>
</body>
</html>
