<!DOCTYPE html>
<html>
<head>
  <title>ConcertNetwork</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="main-header">
    <h1 class"main-header__title">Concertopolis</h1>
    <p class="main-header__paragraph">The concerts network</p>
  </header>

<%= yield %>

  <footer>
    <p>weberjavi dixit</p>
  </footer>
</body>
</html>
